*{
    box-sizing:border-box;
}

/*GLOBALES*/
html{
    font-size:62.50%;
}
h1,
h2,
h3,
strong,
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
.nav-main a:hover{
    padding: 12px 8px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

strong{
    font-size: 4.2rem; 
    color:white; 
    margin-right: 8.8rem;
}

a{
    text-decoration:none;
    color:white;
    font-size:1.4rem;
}

i{
    color:white;
    height: 1.8rem;
    width: 1.8rem;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/*LAYOUT*/


.container {
    max-width: 960px;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: space-between; 
    padding-left: 3.1%;
    padding-right: 3%;

}
header {
    background-color: #62346f;
}

header .logo {
    font-size: 4.2rem;
    font-weight: bold;
    margin-right: 8.8rem;
}

header .container {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .list-share {
    display: flex;
    font-size: 1.8rem;
}

header .list-share li {
    margin-left: 2.0rem;
}

/*nav-main*/
.nav-main ul {
    display: flex;
}

.nav-main li {
    margin-right: 4.0rem;
}
.container2{
        height: 40px;
        background: #3a1045;
}

ul.container {
    height: 40px;
    color: white;
    font-size: 13px;
}

/*MAIN*/
main{
    margin-top:22px;
    margin-bottom: 22px;
}

.politica{
    width:66.67%;
}

main .descripcion{
    display:flex;
    justify-content: space-between;

}
.descripcion div{
    padding-left: 21px;
    padding-right:22px;
}
.noticia{
    margin-top: 1.9rem;
}
.noticia h2{
    margin-top: 6px;
    margin-bottom: 6px;

}
.button{
    display: flex;
    justify-content: space-between;
    margin-top:25px;
}
.social{
    display: flex;
}
.social i{
    color:blue;
}
h1{
    font-size:32px;
}
.container p{
    font-size:1.3rem;
}
.descripcion p{
    line-height: 1.8rem;
}

.interesar{
    margin-top:10px;
    margin-bottom:20px;
}
.otros h2{
    font-size:32px;
}
.od-1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside img{
    margin-top: 40px;
}

footer {
    background-color: #62346f;
  }
  
  footer h3 {
    font-size: 2.8rem;
  }
  
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    color:white;
  }